:root {
  --harmonyLineColor: hsl(125, 80%, 40%);
  --harmonyLineColor-bright: hsl(125, 100%, 60%);
  --harmonyLineColor-dull: hsl(125, 50%, 40%);

  --chaosLineColor: hsl(0, 80%, 55%);
  --chaosLineColor-bright: hsl(0, 100%, 60%);
  --chaosLineColor-dull: hsl(0, 70%, 40%);

  --orderLineColor: hsl(180, 80%, 40%);
  --orderLineColor-bright: hsl(180, 100%, 60%);
  --orderLineColor-dull: hsl(180, 50%, 40%);

  --focusColor: gold;
  --actionableSymbolColor: gold;
  --colorTransparent: rgba(0,0,0,0);  

  --pageBackground: black;
  --bodyFont: Arial, sans-serif;
}
html {
  /* removed per https://css-tricks.com/accessible-font-sizing-explained/ */
  /* font-size: 16px; */
  box-sizing: border-box;
  background-color: var(--pageBackground);
}

/* https://css-tricks.com/box-sizing/ */
/* default yet overrideable border-box box-sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--bodyFont);
  background-color: black;
  color: var(--harmonyLineColor-bright);
}

button {
  font-family: var(--bodyFont);
}

button:hover, button:focus {
  outline: 5px double var(--focusColor);
  color: var(--focusColor);
  font-weight: bolder;
}

#topContainer {
  padding: 5px;
  margin: 0;
  height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  /* align-items: ; */
  gap: 10px;
  /* border: 1px solid green; */
}

#menuContainer {
  display: flex;
  flex-flow: row nowrap;
  /* gap: 10px; */
  /* border: 1px dashed red; */
}

#menu {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  min-height: 40px;
  min-width: 400px;
  border: 6px double var(--orderLineColor-dull);
  
  flex-grow: 4;
  /* flex-shrink: 1; */
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  /* gap: 5px; */
}

#menu > button {
  margin: 0;
  padding: 0;
  color: var(--orderLineColor);
  background-color: var(--colorTransparent);

  flex-grow: 1;
  border-right: 3px dotted var(--orderLineColor-dull);
  border-left: none;
  border-top: none;
  border-bottom: none;
}

#menu > button:last-of-type {
  border-right: none;
}
#menu > button:first-of-type {
  border-left: none;
}

#spacerContainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.chatBoxSpacer {
  margin: 0;
  padding: 0;
  display: inline-block;
  min-width: 400px;
  height: 1px;
  /* border-bottom: 2px dashed var(--harmonyLineColor-dull); */
  flex-grow: 4;
  border-bottom: 1px solid orange;
}

.usersListSpacer {
  margin: 0;
  padding: 0;
  min-width: 150px;
  flex-grow: 1;
  border: 1px solid orange;
  
  display: flex;
}

.concentricSquares {
  margin: 5px;
  flex-grow: 1;
  border: 1px solid orange;
}

#chatContainer {
  min-height: 3rem;
  height: 60vh;
  max-height: 40rem;
  border: 6px double var(--harmonyLineColor-dull);
  border-radius: 6px;

  display: flex;
  flex-flow: row nowrap;
}

/* LOL the double borders pad the element */
#chatBox {
  margin: 0;
  padding: 5px;
  line-height: 1.3;
  min-width: 400px;
  color: var(--chaosLineColor-bright);
  font-family: var(--bodyFont);
  overflow-wrap: break-word;
  overflow-y: scroll;
  hyphens: auto;
  border-right: 5px dotted var(--harmonyLineColor-dull);

  flex-grow: 4;
}

#chatUsersList {
  margin: 0;
  padding: 5px;
  min-width: 150px;
  overflow: scroll;
  flex-grow: 1;
  /* border: 3px dotted red; */
}

#inputPanel {
  margin: 0;
  padding: 0;
  /* min-width: 400px; */
  height: 3rem;
  flex-grow: 0;

  display: flex;
  flex-flow: row nowrap;
  /* gap: 10px; */

  border: 8px double var(--chaosLineColor-dull);
  border-radius: 23px;
  /* border: 1px solid yellowgreen; */
}

#inputPanel > input {
  margin: 0;
  padding: 0;
  min-height: 25px;
  min-width: 400px;
  border: none;
  color: var(--focusColor);
  font-weight: bolder;
  background-color: var(--colorTransparent);
  border-right: 5px dotted var(--chaosLineColor-dull);

  flex-grow: 4;
}
#inputPanel > input:hover,
#inputPanel > input:focus {
  outline: 5px double var(--focusColor);
}

#inputPanel > button {
  margin: 0;
  padding: 0;
  min-width: 150px;
  border: none;  
  color: var(--chaosLineColor);
  font-size: larger;
  font-weight: bolder;
  background-color: var(--colorTransparent);
  flex-grow: 1;
}
